/*
 * Main CSS
 */

/* -----------------------------
           Helpers
 ------------------------------*/

.align-left {
	padding-left : 0;
}

.align-right {
	padding-right : 0;
}

.inline {
	display : inline-block;
}

/*-------------------------------------
            Formulaires
-------------------------------------*/
h1 {
	font-size : 24px;	
}

.form-control {
	height        : 25px;
	padding       : 5px 10px;
	font-size     : 12px;
	line-height   : 1.5;
	border-radius : 3px;
}

input[type='file'].form-control {
	height        : 30px;
}

.errorForm {
	border-color : #ff0000;
}

#alerte {
	color : #ff0000;
	font-weight : bold;
}

#envoiencours {
  color : #00ff00;
  font-weight : bold;
}

/*----------------------------------------------
          Combobox avec autocomplétion
 ----------------------------------------------*/
.ui-button-icon-only .ui-button-text, 
.ui-button-icons-only .ui-button-text {
	padding: 0.7em;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	border-radius: 4px;	
}

/*-----------------------------
           Pagination
 ------------------------------*/
#pagine > li > input {
  position 		   : relative;
  float            : left;
  margin-left      : -1px;
  padding          : 5px 10px;
  font-size        : 12px;
  line-height      : 1.42857143;
  color            : #4533C2;
  text-decoration  : none;
  background-color : #fff;
  border  		   : 1px solid #ddd;
}

#pagine > li > input:hover,
#pagine > li > input:focus {
  color : #FFFFFF;
  background-color: #4533C2;
  outline : 0;
}